.css-babay .et_pb_column.et_pb_column_1_4.et_pb_css_mix_blend_mode_passthrough {
    width: 220px !important;
    margin-right: 15px !important;
}

.css-babay .et_pb_team_member_image.et-waypoint.et_pb_animation_off.et-animated{
    width: 129px !important;
    height: 129px !important;
    margin-left: 25px !important;
}
.css-babay .et_pb_with_border.et_pb_module.et_pb_team_member.et_animated.et_pb_bg_layout_light.clearfix.et_pb_text_align_right.slide {
    height: 235px !important;
    box-shadow: none !important;
}
.css-babay h4.et_pb_module_header {
    font-size: 20px !important;
}
.css-babay p.et_pb_member_position {
    font-size: 15px !important;
}